body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Task_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:0px;
    top:0px;
    width:797px;
    height:354px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:803px;
    height:360px;
}

.u1 {
    position:absolute;
    left:2px;
    top:169px;
    width:793px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Task_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:496px;
    top:48px;
    width:286px;
    height:27px;
}

#u2_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:33px;
}

.u3 {
    position:absolute;
    left:2px;
    top:6px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:453px;
    top:54px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:11px;
    top:240px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:84px;
    top:241px;
    width:359px;
    height:69px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u6_text_sketch {
    font-family: 'Applied Font';
}

.u7_normal {
    background-image: url('../Task_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:11px;
    top:48px;
    width:432px;
    height:183px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:438px;
    height:189px;
}

.u8 {
    position:absolute;
    left:2px;
    top:84px;
    width:428px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Task_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:188px;
    top:127px;
    width:79px;
    height:25px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Task_files/u2_normal.png');
}

.u11_container {
    position:absolute;
    left:496px;
    top:85px;
    width:286px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:292px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:282px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:453px;
    top:91px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_normal {
    background-image: url('../Task_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:484px;
    top:149px;
    width:82px;
    height:27px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u15 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Task_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:576px;
    top:149px;
    width:82px;
    height:27px;
}

#u16_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u17 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Task_files/u18_normal.png');
}

.u18_container {
    position:absolute;
    left:668px;
    top:149px;
    width:82px;
    height:27px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u19 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:453px;
    top:124px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Task_files/u14_normal.png');
}

.u21_container {
    position:absolute;
    left:484px;
    top:186px;
    width:82px;
    height:27px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Task_files/u16_normal.png');
}

.u23_container {
    position:absolute;
    left:576px;
    top:186px;
    width:82px;
    height:27px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u24 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Task_files/u18_normal.png');
}

.u25_container {
    position:absolute;
    left:668px;
    top:186px;
    width:82px;
    height:27px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u26 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Task_files/u14_normal.png');
}

.u27_container {
    position:absolute;
    left:484px;
    top:223px;
    width:82px;
    height:27px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u28 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Task_files/u16_normal.png');
}

.u29_container {
    position:absolute;
    left:576px;
    top:223px;
    width:82px;
    height:27px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u30 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Task_files/u18_normal.png');
}

.u31_container {
    position:absolute;
    left:668px;
    top:223px;
    width:82px;
    height:27px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u32 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Task_files/u14_normal.png');
}

.u33_container {
    position:absolute;
    left:484px;
    top:261px;
    width:82px;
    height:27px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u34 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Task_files/u16_normal.png');
}

.u35_container {
    position:absolute;
    left:576px;
    top:261px;
    width:82px;
    height:27px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u36 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Task_files/u18_normal.png');
}

.u37_container {
    position:absolute;
    left:668px;
    top:261px;
    width:82px;
    height:27px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u38 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Task_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:745px;
    top:7px;
    width:37px;
    height:37px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:37px;
    height:37px;
}

.u40 {
    position:absolute;
    left:2px;
    top:10px;
    width:33px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Task_files/u9_normal.png');
}

.u41_container {
    position:absolute;
    left:11px;
    top:320px;
    width:79px;
    height:25px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:85px;
    height:31px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:75px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Task_files/u45_normal.png');
}

.u45_container {
    position:absolute;
    left:145px;
    top:325px;
    width:20px;
    height:16px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:16px;
}

.u46 {
    position:absolute;
    left:2px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:11px;
    top:15px;
    width:150px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

