body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_line {
    background-image: url('../Basic_information_files/u0_line.png');
}

.u0_line {
    position:absolute;
    left:0px;
    top:4px;
    width:980px;
    height:3px;
}

.u0 {
    position:absolute;
    left:11px;
    top:53px;
    width:980px;
    height:10px;
    
}

.u1_normal {
    background-image: url('../Basic_information_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:11px;
    top:66px;
    width:670px;
    height:110px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:116px;
}

.u2 {
    position:absolute;
    left:2px;
    top:47px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Basic_information_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:11px;
    top:66px;
    width:108px;
    height:110px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:114px;
    height:116px;
}

.u4 {
    position:absolute;
    left:2px;
    top:45px;
    width:104px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:129px;
    top:72px;
    width:77px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:129px;
    top:97px;
    width:28px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:165px;
    top:97px;
    width:83px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:262px;
    top:97px;
    width:137px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:129px;
    top:139px;
    width:143px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:129px;
    top:118px;
    width:356px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:590px;
    top:156px;
    width:108px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:701px;
    top:67px;
    width:75px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_line {
    background-image: url('../Basic_information_files/u13_line.png');
}

.u13_line {
    position:absolute;
    left:0px;
    top:4px;
    width:293px;
    height:3px;
}

.u13 {
    position:absolute;
    left:698px;
    top:85px;
    width:293px;
    height:10px;
    
}

.u14 {
    position:absolute;
    left:11px;
    top:9px;
    width:224px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:392px;
    top:21px;
    width:51px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:276px;
    top:21px;
    width:96px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:502px;
    top:24px;
    width:48px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_line {
    background-image: url('../Basic_information_files/u18_line.png');
}

.u18_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u18 {
    position:absolute;
    left:372px;
    top:20px;
    width:10px;
    height:25px;
    
}

.u19 {
    position:absolute;
    left:451px;
    top:24px;
    width:51px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:552px;
    top:24px;
    width:48px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_line {
    background-image: url('../Basic_information_files/u21_line.png');
}

.u21_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u21 {
    position:absolute;
    left:600px;
    top:20px;
    width:10px;
    height:25px;
    
}

.u22 {
    position:absolute;
    left:621px;
    top:21px;
    width:51px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:751px;
    top:20px;
    width:240px;
    height:27px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23_text_sketch {
    font-family: 'Applied Font';
}

.u24_normal {
    background-image: url('../Basic_information_files/u24_normal.png');
}

.u24_container {
    position:absolute;
    left:961px;
    top:24px;
    width:30px;
    height:22px;
}

#u24_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:22px;
}

.u25 {
    position:absolute;
    left:2px;
    top:3px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u26 {
    position:absolute;
    left:429px;
    top:24px;
    width:83px;
    height:244px;
    overflow:hidden;
}

#pd0u26 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:244px;
    
}

.u27 {
    position:absolute;
    left:22px;
    top:0px;
    width:60px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28_normal {
    background-image: url('../Basic_information_files/u28_normal.png');
}

.u28_container {
    position:absolute;
    left:0px;
    top:18px;
    width:82px;
    height:224px;
}

#u28_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:224px;
}

.u29 {
    position:absolute;
    left:2px;
    top:104px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_normal {
    background-image: url('../Basic_information_files/u30_normal.png');
}

.u30_container {
    position:absolute;
    left:6px;
    top:39px;
    width:68px;
    height:192px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:198px;
}

.u31 {
    position:absolute;
    left:2px;
    top:88px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_normal {
    background-image: url('../Basic_information_files/u32_normal.png');
}

.u32_container {
    position:absolute;
    left:11px;
    top:186px;
    width:146px;
    height:41px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:47px;
}

.u33 {
    position:absolute;
    left:2px;
    top:12px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:70px;
    top:198px;
    width:81px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Basic_information_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:25px;
    top:190px;
    width:34px;
    height:34px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u36 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Basic_information_files/u32_normal.png');
}

.u37_container {
    position:absolute;
    left:303px;
    top:186px;
    width:146px;
    height:41px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:47px;
}

.u38 {
    position:absolute;
    left:2px;
    top:12px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:362px;
    top:198px;
    width:81px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Basic_information_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:319px;
    top:190px;
    width:34px;
    height:34px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:34px;
    height:34px;
}

.u41 {
    position:absolute;
    left:2px;
    top:9px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_line {
    background-image: url('../Basic_information_files/u42_line.png');
}

.u42_line {
    position:absolute;
    left:0px;
    top:4px;
    width:524px;
    height:3px;
}

.u42 {
    position:absolute;
    left:157px;
    top:222px;
    width:524px;
    height:10px;
    
}

.u43_normal {
    background-image: url('../Basic_information_files/u32_normal.png');
}

.u43_container {
    position:absolute;
    left:157px;
    top:186px;
    width:146px;
    height:41px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:47px;
}

.u44 {
    position:absolute;
    left:2px;
    top:12px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:216px;
    top:198px;
    width:81px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Basic_information_files/u46_normal.png');
}

.u46_container {
    position:absolute;
    left:174px;
    top:191px;
    width:32px;
    height:32px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:32px;
    height:32px;
}

.u47 {
    position:absolute;
    left:2px;
    top:8px;
    width:28px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:18px;
    top:236px;
    width:445px;
    height:405px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:445px;
    height:405px;
    
}

.u49 {
    position:absolute;
    left:0px;
    top:2px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:46px;
    top:25px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:18px;
    top:52px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:32px;
    top:106px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:46px;
    top:78px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:18px;
    top:136px;
    width:274px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:18px;
    top:166px;
    width:426px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Basic_information_files/u56_normal.png');
}

.u56_container {
    position:absolute;
    left:73px;
    top:0px;
    width:40px;
    height:18px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:18px;
}

.u57 {
    position:absolute;
    left:2px;
    top:1px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:0px;
    top:196px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Basic_information_files/u56_normal.png');
}

.u59_container {
    position:absolute;
    left:73px;
    top:194px;
    width:40px;
    height:18px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:18px;
}

.u60 {
    position:absolute;
    left:2px;
    top:1px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:46px;
    top:276px;
    width:223px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:52px;
    top:222px;
    width:223px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:18px;
    top:303px;
    width:223px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:46px;
    top:250px;
    width:277px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:0px;
    top:332px;
    width:101px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Basic_information_files/u56_normal.png');
}

.u66_container {
    position:absolute;
    left:73px;
    top:330px;
    width:40px;
    height:18px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:18px;
}

.u67 {
    position:absolute;
    left:2px;
    top:1px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:46px;
    top:384px;
    width:223px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:46px;
    top:358px;
    width:277px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:129px;
    top:1px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:135px;
    top:331px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u72 {
    position:absolute;
    left:18px;
    top:236px;
    width:664px;
    height:212px;
    overflow:hidden;
}

#pd0u72 {
    position:absolute;
    left:0px;
    top:0px;
    width:664px;
    height:212px;
    
}

.u73 {
    position:absolute;
    left:28px;
    top:57px;
    width:202px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:28px;
    top:84px;
    width:310px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:0px;
    top:31px;
    width:230px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:0px;
    top:0px;
    width:159px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:133px;
    top:2px;
    width:152px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:286px;
    top:2px;
    width:164px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:439px;
    top:2px;
    width:172px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:505px;
    top:57px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:547px;
    top:57px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:505px;
    top:84px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:547px;
    top:84px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Basic_information_files/u56_normal.png');
}

.u84_container {
    position:absolute;
    left:108px;
    top:30px;
    width:40px;
    height:18px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:18px;
}

.u85 {
    position:absolute;
    left:2px;
    top:1px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:465px;
    top:57px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:465px;
    top:84px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88 {
    position:absolute;
    left:159px;
    top:31px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:200px;
    top:31px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90 {
    position:absolute;
    left:421px;
    top:57px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:421px;
    top:84px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:589px;
    top:58px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:589px;
    top:84px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:630px;
    top:58px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:630px;
    top:84px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:98px;
    top:95px;
    width:503px;
    height:341px;
    overflow:hidden;
}

#pd0u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:503px;
    height:341px;
    
}

.u97_normal {
    background-image: url('../Basic_information_files/u97_normal.png');
}

.u97_container {
    position:absolute;
    left:2px;
    top:2px;
    width:492px;
    height:332px;
}

#u97_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:498px;
    height:338px;
}

.u98 {
    position:absolute;
    left:2px;
    top:158px;
    width:488px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:20px;
    top:15px;
    width:136px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:20px;
    top:86px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:20px;
    top:158px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:91px;
    top:158px;
    width:392px;
    height:103px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u102_text_sketch {
    font-family: 'Applied Font';
}

.u103_normal {
    background-image: url('../Basic_information_files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:91px;
    top:82px;
    width:325px;
    height:28px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u104 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:20px;
    top:124px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../Basic_information_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:91px;
    top:120px;
    width:150px;
    height:28px;
}

#u106_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u107 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Basic_information_files/u106_normal.png');
}

.u108_container {
    position:absolute;
    left:266px;
    top:120px;
    width:150px;
    height:28px;
}

#u108_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u109 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:248px;
    top:124px;
    width:37px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:33px;
    top:48px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Basic_information_files/u103_normal.png');
}

.u112_container {
    position:absolute;
    left:91px;
    top:44px;
    width:325px;
    height:28px;
}

#u112_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u113 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:11px;
    top:271px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u114_text_sketch {
    font-family: 'Applied Font';
}

.u115 {
    position:absolute;
    left:201px;
    top:274px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:300px;
    top:274px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Basic_information_files/u117_normal.png');
}

.u117_container {
    position:absolute;
    left:383px;
    top:301px;
    width:100px;
    height:25px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u118 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119 {
    position:absolute;
    left:332px;
    top:305px;
    width:46px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u120 {
    position:absolute;
    left:129px;
    top:66px;
    width:716px;
    height:479px;
    overflow:hidden;
}

#pd0u120 {
    position:absolute;
    left:0px;
    top:0px;
    width:716px;
    height:479px;
    
}

.u121_normal {
    background-image: url('../Basic_information_files/u121_normal.png');
}

.u121_container {
    position:absolute;
    left:0px;
    top:0px;
    width:715px;
    height:478px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:715px;
    height:478px;
}

.u122 {
    position:absolute;
    left:2px;
    top:231px;
    width:711px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u123 {
    position:absolute;
    left:51px;
    top:147px;
    width:63px;
    height:24px;
    overflow:hidden;
}

#pd0u123 {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:24px;
    
}

.u124_normal {
    background-image: url('../Basic_information_files/u124_normal.png');
}

.u124_container {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:23px;
}

#u124_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:68px;
    height:29px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:58px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

