/* --- common --- */
body {
	background: rgba(246,246,246,1);
}
h3, ul, li { margin:0; padding:0;font-weight: normal;}
ul, li {list-style: none;}
/* --- page header --- */
.theme-word {
	padding:0px 15px;
	font-family:"microsoft YaHei";
	font-size:30px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	color:#2b9bea;
}
.theme-desc {
	padding:0px 15px;
	border-left:1px solid #CCC;
	font-family:"microsoft YaHei";
	font-style:normal;
	text-decoration:none;
	color:#666;
}
.focus-idea {
	font-family:"microsoft YaHei";
	font-size:20px;
	font-style:normal;
	text-decoration:none;
	color:#FF0099;
}
.hot-team {
	font-family:"microsoft YaHei";
	font-size:20px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#666666;
}
.team-link {
	font-family:"microsoft YaHei";
	font-size:16px;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	color:#666666;
}
.team-link:hover {
	color:#08c;
	text-decoration: none;
}
.input-normal {
	border:1px solid #ccc;
	padding:2px 3px;
}
.login-input {
	width: 174px;
	height: 30px;
	border: 0 none;
	border: 1px solid #CCC;
	padding:2px 3px;
	color:#FF6D00;
	font-size: 14px;
}
.button, .btns {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f5f5f5), color-stop(1, #e0e0e0) );
	display:inline-block;
	color:#555;
	font-size:12px;
	padding:6px 10px 6px 10px;
	cursor:pointer;
  text-decoration:none;
  background-color: #E0E0E0;
  background-image: linear-gradient(to bottom, #FAFAFA 0px, #DCDCDC 100%);
  border-width: 1px;
  border-style: solid;
  font-weight: bolder;
  border-color: #CCCCCC #CCCCCC #AAAAAA;
  box-shadow: 0 0 1px #FFFFFF inset;
  text-shadow: 1px 1px 1px #FFFFFF;
}
.btns, .button:hover {
  background-image: linear-gradient(to bottom, #F0F0F0 0px, #E6E6E6 100%);
  border-color: #AAAAAA #AAAAAA #999999;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset;
	text-decoration:none;
}
.login-btn {padding:5px 10px;}
.forget-word {
	font-size:12px;
	font-style:normal;
	text-decoration:none;
	color:#06C;
}
.remember-me {
	font-family:"microsoft YaHei";
	font-size:12px;
	font-style:normal;
	text-decoration:none;
	color:#666;
}
.team-sort {
	position: absolute;
	top:431px;
	left:11px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,169,218,1)), color-stop(100%,rgba(1,186,227,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,169,218,1) 0%,rgba(1,186,227,1) 100%); /* Chrome10+,Safari5.1+ */
	width:722px;
	height:30px;
}
.team-sort1 {
	position: absolute;
	top:825px;
	left:11px;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,rgba(26,144,75,1)), color-stop(100%,rgba(27,169,89,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(26,144,75,1) 1%,rgba(27,169,89,1) 100%); /* Chrome10+,Safari5.1+ */
	width:722px;
	height:30px;
}
.team-sort2 {
	position: absolute;
	top:1218px;
	left:11px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,109,47,1)), color-stop(100%,rgba(221,109,38,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(212,109,47,1) 0%,rgba(221,109,38,1) 100%); /* Chrome10+,Safari5.1+ */
	width:722px;
	height:30px;
}
.team-items li {
	float:left;
	height:30px;
	line-height: 30px;
	margin-left:30px;
}
.team-items li.team-title {
	background-color: #f63d87;
	color:#FFF;
	margin-left:0px;
	padding: 0 20px;
}
.team-items a {
	text-decoration: none;
	color:#FFF;
	font-size: 14px;
	font-family: 'Microsoft Yahei';
}
.team-items a:hover {
	text-decoration: none;
	color:#EFEFEF;
}
.search-list-wrap{
    position: absolute;
    left: 751px;
    top: 20px;
    float: right;
    width:240px;
    height:27px;
    z-index: 100;
}
.search-list-wrap .input-search{
    width:100%;
    height: 27px;
}
.search-list-wrap .search-submit{
    position: absolute;
    background: url('../../../images/searchbtn.png');
    width:30px;
    height: 22px;
    border: none;
    top:3px;
    right: 3px;
    cursor: pointer;
}

.search-list {
    min-width: 240px;
    border: solid 1px #cccccc;
    background: #fff;
    display: none;
    list-style: none;
    position: absolute;
    top: 27px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.search-list li{
    padding-left: 10px;
    line-height: 30px;
    font-size: 12px;
}
.search-list li:hover,.search-list li.hover{
    background: #efefef;
    cursor: pointer;
}
.search-list .key{
    color: red;
}

/* ----------------  */

.travel-block {
	position: absolute;
	top:860px;
	left:11px;
	width:722px;
	height:354px;
}

.travel-list {
	height: 348px;
}
.travel-list li {
	width: 236px;
	height: 346px;
	float: left;
	margin-left:4px;
}
.travel-item {
	height: 300px;
	border:1px solid #CCC;
	background-color: #FFF;
}
.travel-item h3 {
	height: 34px;
	line-height: 34px;
	color:#3CF;
	font-size: 14px;
	padding:0 10px;
	border-bottom:1px dotted #CCC;
}
.travel-owner {
	height: 28px;
	border:1px solid #CCC;
	background-color: #FFF;
	margin-top:6px;
	padding:6px 10px;
}
.travel-owner a {
	display: block;
	width: 31px;
	height: 30px;
	float: left;
}
/*  ---------------  */

.code-block {
	position: absolute;
	top:1254px;
	left:11px;
	width:722px;
	height:354px;
}

.code-list {
	height: 348px;
}
.code-list li {
	width: 236px;
	height: 346px;
	float: left;
	margin-left:4px;
}
.code-item {
	height: 300px;
	border:1px solid #CCC;
	background-color: #FFF;
}
.code-item h3 {
	height: 34px;
	line-height: 34px;
	color:#3CF;
	font-size: 14px;
	padding:0 10px;
	border-bottom:1px dotted #CCC;
}
.code-owner {
	height: 28px;
	border:1px solid #CCC;
	background-color: #FFF;
	margin-top:6px;
	padding:6px 10px;
}
.code-owner a {
	display: block;
	width: 31px;
	height: 30px;
	float: left;
}

/*  ---------------- */


.welfare-block {
	position: absolute;
	top:467px;
	left:11px;
	width:722px;
	height:354px;
}

.welfare-list {
	height: 348px;
}
.welfare-list li {
	width: 236px;
	height: 346px;
	float: left;
	margin-left:4px;
}
.welfare-item {
	height: 300px;
	border:1px solid #CCC;
	background-color: #FFF;
}
.welfare-item h3 {
	height: 34px;
	line-height: 34px;
	color:#3CF;
	font-size: 14px;
	padding:0 10px;
	border-bottom:1px dotted #CCC;
}
.join-team {
	padding: 5px 10px;
	display: inline;
	margin-left: 60px;
	border-radius: 2px;
}
.welfare-owner {
	height: 28px;
	border:1px solid #CCC;
	background-color: #FFF;
	margin-top:6px;
	padding:6px 10px;
}
.welfare-owner a {
	display: block;
	width: 31px;
	height: 30px;
	float: left;
}
.welfare-link {
	display: block;
	padding:9px;
	width:215px;
	height: 195px;
	border-bottom: 1px dotted #ccc;
}
.white-btn {
	background: url(../images/like.png) -200px -80px no-repeat;
	display: block;
	width: 58px;
	height: 23px;
	float: left;
	text-indent: -9999px;
	margin-left:20px;
	margin-top:10px;
}
.like-add {
	float: left;
	display: block;
	width: 60px;
	height: 23px;
	line-height: 23px;
	margin-top:10px;
	margin-left:20px;
	text-align: center;
	font-size: 12px;
	font-family:"microsoft YaHei";
	border-radius: 3px;
	border:1px solid #CCC;
}

.owner-name {
	display: block;
	height: 30px;
	float: left;
	line-height: 30px;
	font-size: 14px;
	margin-left:12px;
	color:#3CF;
}
/*首页slide*/
.slide{
    width:720px;
    height: 350px;
    position:absolute;
    left:11px;
    top:66px;
    overflow: hidden;
}

.slide .slide-list, .slide .slide-trigger{
    list-style: none;
    margin: 0;
    padding: 0;
}
.slide .slide-list{
    width: 2160px;
    position: absolute;
}
.slide .slide-list .slide-item{
    padding: 0;
    float: left;
}


.slide .slide-trigger{
    position: absolute;
    right: 20px;
    top :20px;
}

.slide-trigger .slide-trigger-item{
    border: #ffffff solid 2px;
    border-radius: 4px;
    margin: 20px;
}
.slide-trigger .slide-trigger-item.current{
    border: rgba(1, 186, 227, 1) solid 2px;
}
