body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:11px;
    top:65px;
    width:721px;
    height:120px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:120px;
    
}

.u1 {
    position:absolute;
    left:0px;
    top:56px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u1_text_sketch {
    font-family: 'Applied Font';
}

.u2 {
    position:absolute;
    left:190px;
    top:59px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:482px;
    top:59px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Team_title_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:548px;
    top:89px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:497px;
    top:93px;
    width:46px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:0px;
    top:0px;
    width:670px;
    height:50px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u7_text_sketch {
    font-family: 'Applied Font';
}

#u8 {
    position:absolute;
    left:11px;
    top:98px;
    width:721px;
    height:547px;
    overflow:hidden;
}

#pd0u8 {
    position:absolute;
    left:0px;
    top:0px;
    width:721px;
    height:547px;
    
}

.u9_normal {
    background-image: url('../Team_title_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:34px;
    width:670px;
    height:260px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:676px;
    height:266px;
}

.u10 {
    position:absolute;
    left:2px;
    top:122px;
    width:666px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:5px;
    top:40px;
    width:44px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Team_title_files/u12_normal.png');
}

.u12_container {
    position:absolute;
    left:616px;
    top:270px;
    width:43px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:43px;
    height:20px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:616px;
    top:271px;
    width:47px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u15_normal {
    background-image: url('../Team_title_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:27px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u16 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Team_title_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:92px;
    top:0px;
    width:82px;
    height:27px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u18 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Team_title_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:184px;
    top:0px;
    width:82px;
    height:27px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:33px;
}

.u20 {
    position:absolute;
    left:2px;
    top:4px;
    width:78px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Team_title_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:285px;
    top:4px;
    width:41px;
    height:18px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:18px;
}

.u22 {
    position:absolute;
    left:2px;
    top:1px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:282px;
    top:4px;
    width:47px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u24_line {
    background-image: url('../Team_title_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:0px;
    top:4px;
    width:670px;
    height:3px;
}

.u24 {
    position:absolute;
    left:0px;
    top:368px;
    width:670px;
    height:10px;
    
}

.u25_normal {
    background-image: url('../Team_title_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:0px;
    top:332px;
    width:146px;
    height:41px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:47px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:142px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:53px;
    top:343px;
    width:75px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:11px;
    top:382px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:11px;
    top:406px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:550px;
    top:382px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:629px;
    top:382px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:470px;
    top:382px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:550px;
    top:406px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:629px;
    top:406px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:470px;
    top:406px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:590px;
    top:382px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:590px;
    top:406px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:509px;
    top:382px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:509px;
    top:406px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:0px;
    top:302px;
    width:91px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:11px;
    top:429px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:11px;
    top:453px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:550px;
    top:429px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:629px;
    top:429px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:470px;
    top:429px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:550px;
    top:453px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:629px;
    top:453px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:470px;
    top:453px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:590px;
    top:429px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:590px;
    top:453px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:509px;
    top:429px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:509px;
    top:453px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:11px;
    top:477px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54 {
    position:absolute;
    left:11px;
    top:501px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:550px;
    top:477px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:629px;
    top:477px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:470px;
    top:477px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:550px;
    top:501px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:629px;
    top:501px;
    width:62px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60 {
    position:absolute;
    left:470px;
    top:501px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:590px;
    top:477px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:590px;
    top:501px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:509px;
    top:477px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:509px;
    top:501px;
    width:41px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:132px;
    top:302px;
    width:68px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_line {
    background-image: url('../Team_title_files/u66_line.png');
}

.u66_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u66 {
    position:absolute;
    left:74px;
    top:302px;
    width:10px;
    height:17px;
    
}

.u67_line {
    background-image: url('../Team_title_files/u67_line.png');
}

.u67_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u67 {
    position:absolute;
    left:191px;
    top:302px;
    width:10px;
    height:17px;
    
}

.u68 {
    position:absolute;
    left:204px;
    top:302px;
    width:68px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_line {
    background-image: url('../Team_title_files/u69_line.png');
}

.u69_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:17px;
}

.u69 {
    position:absolute;
    left:119px;
    top:302px;
    width:10px;
    height:17px;
    
}

.u70 {
    position:absolute;
    left:87px;
    top:302px;
    width:35px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u71 {
    position:absolute;
    left:101px;
    top:48px;
    width:500px;
    height:342px;
    overflow:hidden;
}

#pd0u71 {
    position:absolute;
    left:0px;
    top:0px;
    width:500px;
    height:342px;
    
}

.u72_normal {
    background-image: url('../Team_title_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:2px;
    top:2px;
    width:492px;
    height:332px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:498px;
    height:338px;
}

.u73 {
    position:absolute;
    left:2px;
    top:158px;
    width:488px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:20px;
    top:15px;
    width:136px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:20px;
    top:86px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:20px;
    top:158px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:91px;
    top:158px;
    width:392px;
    height:103px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77_text_sketch {
    font-family: 'Applied Font';
}

.u78_normal {
    background-image: url('../Team_title_files/u78_normal.png');
}

.u78_container {
    position:absolute;
    left:91px;
    top:82px;
    width:325px;
    height:28px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u79 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:20px;
    top:124px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Team_title_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:91px;
    top:120px;
    width:150px;
    height:28px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u82 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Team_title_files/u81_normal.png');
}

.u83_container {
    position:absolute;
    left:266px;
    top:120px;
    width:150px;
    height:28px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u84 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:248px;
    top:124px;
    width:37px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:33px;
    top:48px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Team_title_files/u78_normal.png');
}

.u87_container {
    position:absolute;
    left:91px;
    top:44px;
    width:325px;
    height:28px;
}

#u87_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u88 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89 {
    position:absolute;
    left:11px;
    top:271px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_text_sketch {
    font-family: 'Applied Font';
}

.u90 {
    position:absolute;
    left:201px;
    top:274px;
    width:150px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:300px;
    top:274px;
    width:200px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Team_title_files/u4_normal.png');
}

.u92_container {
    position:absolute;
    left:383px;
    top:301px;
    width:100px;
    height:25px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:332px;
    top:305px;
    width:46px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:15px;
    top:66px;
    width:112px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u96 {
    position:absolute;
    left:127px;
    top:66px;
    width:53px;
    height:19px;
    overflow:hidden;
}

#pd0u96 {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:19px;
    
}

.u97_normal {
    background-image: url('../Team_title_files/u21_normal.png');
}

.u97_container {
    position:absolute;
    left:3px;
    top:0px;
    width:41px;
    height:18px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:41px;
    height:18px;
}

.u98 {
    position:absolute;
    left:2px;
    top:1px;
    width:37px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u99 {
    position:absolute;
    left:0px;
    top:0px;
    width:47px;
    height:18px;
    ;
    ;
    ;
    background-image: url('../resources/images/transparent.gif');
    overflow:hidden;
}

.u100 {
    position:absolute;
    left:751px;
    top:445px;
    width:113px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_line {
    background-image: url('../Team_title_files/u101_line.png');
}

.u101_line {
    position:absolute;
    left:0px;
    top:4px;
    width:240px;
    height:3px;
}

.u101 {
    position:absolute;
    left:751px;
    top:466px;
    width:240px;
    height:10px;
    
}

.u102_normal {
    background-image: url('../Team_title_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:282px;
    top:69px;
    width:16px;
    height:16px;
}

#u102_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u103 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:300px;
    top:69px;
    width:41px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_line {
    background-image: url('../Team_title_files/u105_line.png');
}

.u105_line {
    position:absolute;
    left:0px;
    top:4px;
    width:980px;
    height:3px;
}

.u105 {
    position:absolute;
    left:11px;
    top:53px;
    width:980px;
    height:10px;
    
}

.u106 {
    position:absolute;
    left:11px;
    top:9px;
    width:224px;
    height:46px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:392px;
    top:21px;
    width:51px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:276px;
    top:21px;
    width:96px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:502px;
    top:24px;
    width:48px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_line {
    background-image: url('../Team_title_files/u110_line.png');
}

.u110_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u110 {
    position:absolute;
    left:372px;
    top:20px;
    width:10px;
    height:25px;
    
}

.u111 {
    position:absolute;
    left:451px;
    top:24px;
    width:51px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:552px;
    top:24px;
    width:48px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_line {
    background-image: url('../Team_title_files/u113_line.png');
}

.u113_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:25px;
}

.u113 {
    position:absolute;
    left:600px;
    top:20px;
    width:10px;
    height:25px;
    
}

.u114 {
    position:absolute;
    left:621px;
    top:21px;
    width:51px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:751px;
    top:20px;
    width:240px;
    height:27px;
    ;
    ;
    text-align: left;;
    font-family:'微软雅黑';
    font-size: 16px;
    color:#666666;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u115_text_sketch {
    font-family: 'Applied Font';
}

.u116_normal {
    background-image: url('../Team_title_files/u116_normal.png');
}

.u116_container {
    position:absolute;
    left:961px;
    top:24px;
    width:30px;
    height:22px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:30px;
    height:22px;
}

.u117 {
    position:absolute;
    left:2px;
    top:3px;
    width:26px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u118 {
    position:absolute;
    left:429px;
    top:24px;
    width:83px;
    height:244px;
    overflow:hidden;
}

#pd0u118 {
    position:absolute;
    left:0px;
    top:0px;
    width:83px;
    height:244px;
    
}

.u119 {
    position:absolute;
    left:22px;
    top:0px;
    width:60px;
    height:23px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120_normal {
    background-image: url('../Team_title_files/u120_normal.png');
}

.u120_container {
    position:absolute;
    left:0px;
    top:18px;
    width:82px;
    height:224px;
}

#u120_img {
    position:absolute;
    left:0px;
    top:0px;
    width:82px;
    height:224px;
}

.u121 {
    position:absolute;
    left:2px;
    top:104px;
    width:78px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Team_title_files/u122_normal.png');
}

.u122_container {
    position:absolute;
    left:6px;
    top:39px;
    width:68px;
    height:192px;
}

#u122_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:198px;
}

.u123 {
    position:absolute;
    left:2px;
    top:88px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124 {
    position:absolute;
    left:208px;
    top:69px;
    width:73px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Team_title_files/u125_normal.png');
}

.u125_container {
    position:absolute;
    left:194px;
    top:69px;
    width:14px;
    height:14px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:14px;
    height:14px;
}

.u126 {
    position:absolute;
    left:2px;
    top:-1px;
    width:10px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u127 {
    position:absolute;
    left:101px;
    top:93px;
    width:421px;
    height:292px;
    overflow:hidden;
}

#pd0u127 {
    position:absolute;
    left:0px;
    top:0px;
    width:421px;
    height:292px;
    
}

.u128_normal {
    background-image: url('../Team_title_files/u128_normal.png');
}

.u128_container {
    position:absolute;
    left:0px;
    top:0px;
    width:420px;
    height:291px;
}

#u128_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:426px;
    height:297px;
}

.u129 {
    position:absolute;
    left:2px;
    top:138px;
    width:416px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130 {
    position:absolute;
    left:9px;
    top:15px;
    width:136px;
    height:27px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u131 {
    position:absolute;
    left:9px;
    top:86px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132 {
    position:absolute;
    left:9px;
    top:158px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:80px;
    top:158px;
    width:325px;
    height:92px;
    ;
    ;
    ;
    font-family:'微软雅黑';
    font-size: 14px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u133_text_sketch {
    font-family: 'Applied Font';
}

.u134_normal {
    background-image: url('../Team_title_files/u78_normal.png');
}

.u134_container {
    position:absolute;
    left:80px;
    top:82px;
    width:325px;
    height:28px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u135 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:9px;
    top:124px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u137_normal {
    background-image: url('../Team_title_files/u81_normal.png');
}

.u137_container {
    position:absolute;
    left:80px;
    top:120px;
    width:150px;
    height:28px;
}

#u137_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u138 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139_normal {
    background-image: url('../Team_title_files/u81_normal.png');
}

.u139_container {
    position:absolute;
    left:255px;
    top:120px;
    width:150px;
    height:28px;
}

#u139_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:34px;
}

.u140 {
    position:absolute;
    left:2px;
    top:6px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u141 {
    position:absolute;
    left:237px;
    top:124px;
    width:37px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:22px;
    top:48px;
    width:70px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143_normal {
    background-image: url('../Team_title_files/u78_normal.png');
}

.u143_container {
    position:absolute;
    left:80px;
    top:44px;
    width:325px;
    height:28px;
}

#u143_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:331px;
    height:34px;
}

.u144 {
    position:absolute;
    left:2px;
    top:6px;
    width:321px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u145_normal {
    background-image: url('../Team_title_files/u4_normal.png');
}

.u145_container {
    position:absolute;
    left:305px;
    top:259px;
    width:100px;
    height:25px;
}

#u145_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u146 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147 {
    position:absolute;
    left:254px;
    top:263px;
    width:46px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../Team_title_files/u148_normal.png');
}

.u148_container {
    position:absolute;
    left:751px;
    top:65px;
    width:240px;
    height:350px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:246px;
    height:356px;
}

.u149 {
    position:absolute;
    left:2px;
    top:167px;
    width:236px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u150_container {
    position:absolute;
    left:782px;
    top:73px;
    width:35px;
    height:30px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u151 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152 {
    position:absolute;
    left:827px;
    top:78px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u153_container {
    position:absolute;
    left:782px;
    top:109px;
    width:35px;
    height:30px;
}

#u153_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u154 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155 {
    position:absolute;
    left:827px;
    top:114px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u156_container {
    position:absolute;
    left:782px;
    top:145px;
    width:35px;
    height:30px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u157 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158 {
    position:absolute;
    left:827px;
    top:150px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u159_container {
    position:absolute;
    left:782px;
    top:181px;
    width:35px;
    height:30px;
}

#u159_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u160 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u161 {
    position:absolute;
    left:827px;
    top:186px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u162_container {
    position:absolute;
    left:782px;
    top:217px;
    width:35px;
    height:30px;
}

#u162_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u163 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164 {
    position:absolute;
    left:827px;
    top:222px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u165_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u165_container {
    position:absolute;
    left:782px;
    top:253px;
    width:35px;
    height:30px;
}

#u165_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u166 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u167 {
    position:absolute;
    left:827px;
    top:258px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u168_container {
    position:absolute;
    left:782px;
    top:289px;
    width:35px;
    height:30px;
}

#u168_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u169 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u170 {
    position:absolute;
    left:827px;
    top:294px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u171_container {
    position:absolute;
    left:782px;
    top:325px;
    width:35px;
    height:30px;
}

#u171_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u172 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173 {
    position:absolute;
    left:827px;
    top:330px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u174_normal {
    background-image: url('../Team_title_files/u150_normal.png');
}

.u174_container {
    position:absolute;
    left:782px;
    top:361px;
    width:35px;
    height:30px;
}

#u174_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:41px;
    height:36px;
}

.u175 {
    position:absolute;
    left:2px;
    top:5px;
    width:31px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u176 {
    position:absolute;
    left:827px;
    top:366px;
    width:165px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177 {
    position:absolute;
    left:919px;
    top:395px;
    width:82px;
    height:20px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u178 {
    position:absolute;
    left:368px;
    top:69px;
    width:41px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../Team_title_files/u102_normal.png');
}

.u179_container {
    position:absolute;
    left:347px;
    top:69px;
    width:16px;
    height:16px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:16px;
    height:16px;
}

.u180 {
    position:absolute;
    left:2px;
    top:0px;
    width:12px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

