#header {background-repeat:repeat-x;width:1000px;}
#header-top {position:relative;width:1000px;margin:0 ;height:60px;line-height:60px;margin:0 ;}
#header-top .left{float:left;padding-left:5px;font-size:36px;color:#33CCFF;font-weight:bold;font-style:normal}
#header-top .center{float:left;padding-left:50px;font-size:20px;color:#ff0099;font-weight:bold;font-style:normal}
#header-top .bellow{float:left;padding:17px 15px 0 15px;font-size:20px;color:#ff0099;font-weight:bold;font-style:normal}
#header-top .heat{float:left;font-size:20px;color:#666666;font-weight:normal;font-style:normal}
#header-top .heat-word{float:left;padding:3px 0 0 15px;font-size:17px;color:#666666;font-weight:normal;font-style:normal}
#header-top .input{float:right;margin-top:17px;font-size:17px;color:#666666;font-weight:normal;font-style:normal; border:2px inset; width:300px ;}
#header-top .input-text{float:right;padding:17px 0 0 2px;font-size:17px;color:#666666;font-weight:normal;font-style:normal; width:300px ;height:27px}
#header-top .input-icon{position:absolute;padding:17px 0 0 2px;left:960px; top:2px ;width:30px,height 30px;}
#header-top .split{position:absolute;left:11px; top:53px ;width:1020px,height 10px;}
