<!DOCTYPE html>
<html>
    <head>
        <title>Blog</title>
        <%= stylesheet_link_tag    "application", :media => "all" %>
        <%= javascript_include_tag "application" %>
        <%= csrf_meta_tags %>
    </head>
    <body>

        <div id="u0" class="u0_container"   >
            <div id="u0_img" class="u0_normal detectCanvas"></div>
            <div id="u1" class="u1" style="visibility:hidden;"  >
                <div id="u1_rtf"></div>
            </div>
        </div>
        <div id="u2" class="u2" >
            <DIV id="u2_line" class="u2_line" ></DIV>
        </div>
        <div id="u3" class="u3"  >
            <div id="u3_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">旅行就该</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">，</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">说走就走</span>
                </p>
            </div>
        </div>
        <div id="u4" class="u4_container"   >
            <div id="u4_img" class="u4_normal detectCanvas"></div>
            <div id="u5" class="u5" style="visibility:hidden;"  >
                <div id="u5_rtf"></div>
            </div>
        </div>
        <div id="u6" class="u6_container"   >
            <div id="u6_img" class="u6_normal detectCanvas"></div>
            <div id="u7" class="u7" style="visibility:hidden;"  >
                <div id="u7_rtf"></div>
            </div>
        </div>
        <div id="u8" class="u8_container"   >
            <div id="u8_img" class="u8_normal detectCanvas"></div>
            <div id="u9" class="u9" style="visibility:hidden;"  >
                <div id="u9_rtf"></div>
            </div>
        </div>
        <div id="u10" class="u10"  >
            <div id="u10_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">加</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">入</span>
                </p>
            </div>
        </div>
        <div id="u11" class="u11_container"   >
            <div id="u11_img" class="u11_normal detectCanvas"></div>
            <div id="u12" class="u12" style="visibility:hidden;"  >
                <div id="u12_rtf"></div>
            </div>
        </div>
        <div id="u15" class="u15"  >
            <div id="u15_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">黄小鑫</span>
                </p>
            </div>
        </div>
        <div id="u16" class="u16_container"   >
            <div id="u16_img" class="u16_normal detectCanvas"></div>
            <div id="u17" class="u17" style="visibility:hidden;"  >
                <div id="u17_rtf"></div>
            </div>
        </div>
        <div id="u18" class="u18_container"   >
            <div id="u18_img" class="u18_normal detectCanvas"></div>
            <div id="u19" class="u19" style="visibility:hidden;"  >
                <div id="u19_rtf"></div>
            </div>
        </div>
        <div id="u20" class="u20" >
            <DIV id="u20_line" class="u20_line" ></DIV>
        </div>
        <div id="u21" class="u21"  >
            <div id="u21_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">“陪聊”</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">free</span>
                </p>
            </div>
        </div>
        <div id="u22" class="u22_container"   >
            <div id="u22_img" class="u22_normal detectCanvas"></div>
            <div id="u23" class="u23" style="visibility:hidden;"  >
                <div id="u23_rtf"></div>
            </div>
        </div>
        <div id="u24" class="u24" >
            <DIV id="u24_line" class="u24_line" ></DIV>
        </div>
        <div id="u25" class="u25"  >
            <div id="u25_rtf">
                <p style="text-align:left;">
                    <span class="theme-word">水花</span>
                    <span class="theme-desc">社会协作平台</span>
                </p>
            </div>
        </div>
        <div id="u26" class="u26" >
            <DIV id="u26_line" class="u26_line" ></DIV>
        </div>
        <div id="u27" class="u27_container"   >
            <img id="u27_img" class="u27_normal detectCanvas" src="resources/images/switch.jpg"/>
        </div>
        <DIV id="u29" style="visibility:hidden;" data-label="team1">
            <DIV id="pd0u29" style="" data-label="team1">
                <div id="u30" class="u30_container"   >
                    <div id="u30_img" class="u30_normal detectCanvas"></div>
                    <div id="u31" class="u31" style="visibility:hidden;"  >
                        <div id="u31_rtf"></div>
                    </div>
                </div>
                <div id="u32" class="u32"  >
                    <div id="u32_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">创建时间</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">2012/11/5</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：team创建日期）</span>
                        </p>
                    </div>
                </div>
                <div id="u33" class="u33"  >
                    <div id="u33_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">关注</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">10</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">按照</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">关注数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">排名）</span>
                        </p>
                    </div>
                </div>
                <div id="u34" class="u34"  >
                    <div id="u34_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">参与人数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">9</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;"> 人</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">team总人数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">）</span>
                        </p>
                    </div>
                </div>
                <div id="u35" class="u35"  >
                    <div id="u35_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">任务：5 个</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：任务总数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">）</span>
                        </p>
                    </div>
                </div>
                <div id="u36" class="u36"  >
                    <div id="u36_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">基本介绍</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：阐述该team的基本状况、内容）</span>
                        </p>
                    </div>
                </div>
                <div id="u37" class="u37"  >
                    <div id="u37_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;color:#FFFFFF;">点击详情</span>
                        </p>
                    </div>
                </div>
                <div id="u38" class="u38"  >
                    <div id="u38_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:18px;font-weight:bold;font-style:normal;text-decoration:underline;color:#FFFFFF;">点击详情</span>
                        </p>
                    </div>
                </div>
                <div id="u39" class="u39"  >
                    <div id="u39_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">评论</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">2</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">0</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">（注释</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：评论总数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">）</span>
                        </p>
                    </div>
                </div>
            </DIV>
        </DIV>
        <div id="u40" class="u40"  >
            <div id="u40_rtf">
                <p style="text-align:left;">
                    <span class="hot-team">热门</span>
                </p>
            </div>
        </div>
        <div id="u41" class="u41"  >
            <div id="u41_rtf">
                <p style="text-align:left;">
                    <a href="#" class="focus-idea">关注动态</a>
                </p>
            </div>
        </div>
        <div id="u42" class="u42"  >
            <div id="u42_rtf">
                <p style="text-align:left;">
                    <a href="#" class="team-link">穷游</a>
                </p>
            </div>
        </div>
        <div id="u43" class="u43" >
            <DIV id="u43_line" class="u43_line" ></DIV>
        </div>
        <div id="u44" class="u44"  >
            <div id="u44_rtf">
                <p style="text-align:left;">
                    <a href="#" class="team-link">公益</a>
                </p>
            </div>
        </div>
        <div id="u45" class="u45"  >
            <div id="u45_rtf">
                <p style="text-align:left;">
                    <a href="#" class="team-link">编程</a>
                </p>
            </div>
        </div>
        <div id="u46" class="u46" >
            <DIV id="u46_line" class="u46_line" ></DIV>
        </div>
        <div id="u47" class="u47"  >
            <div id="u47_rtf">
                <p style="text-align:left;">
                    <span class="hot-team">小组</span>
                </p>
            </div>
        </div>
        <input id="u48" type="text" value="team" class="u48 input-normal">

        <div id="u49" class="u49_container"   >
            <div id="u49_img" class="u49_normal detectCanvas"></div>
            <div id="u50" class="u50" style="visibility:hidden;"  >
                <div id="u50_rtf"></div>
            </div>
        </div>
        <div id="u51" class="u51_container"   >
            <div id="u51_img" class="u51_normal detectCanvas"></div>
            <div id="u52" class="u52" style="visibility:hidden;"  >
                <div id="u52_rtf"></div>
            </div>
        </div>

        <div id="u54" class="u54_container"   >
            <div id="u54_img" class="u54_normal detectCanvas"></div>
            <div id="u55" class="u55" style="visibility:hidden;"  >
                <div id="u55_rtf"></div>
            </div>
        </div>
        <div id="u57" class="u57_container"   >
            <div id="u57_img" class="u57_normal detectCanvas"></div>
            <div id="u58" class="u58" style="visibility:hidden;"  >
                <div id="u58_rtf"></div>
            </div>
        </div>
        <div id="u59" class="u59"  >
            <div id="u59_rtf">
                <p style="text-align:left;">
                    <input id="username" type="text" class="login-input"/>
                </p>
            </div>
        </div>
        <div id="u60" class="u60"  >
            <div id="u60_rtf">
                <p style="text-align:left;">
                    <input id="password" type="password" class="login-input"/>
                </p>
            </div>
        </div>
        <div id="u61" class="u61_container">
            <button class="button login-btn">
                登 录
            </button>
        </div>
        <DIV id="u63container" style="position:absolute; left:857px; top:178px; width:66px; height:20px;" >
            <label for="u63">
                <div id="u64" class="u64"  >
                    <div id="u64_rtf">
                        <p style="text-align:left;">
                            <span class="remember-me">记住我</span>
                        </p>
                    </div>
                </div> </label>
            <input id="u63" style="position:absolute; left:-3px; top:0px;" type="checkbox" value="checkbox"   >
        </DIV>
        <div id="u66" class="u66"  >
            <div id="u66_rtf">
                <p style="text-align:left;">
                    <a href="#" class="forget-word">忘记密码</a>
                </p>
            </div>
        </div>
        <div id="u67" class="u67"  >
            <div id="u67_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#333333;">使用合作网站帐号登陆：</span>
                </p>
            </div>
        </div>
        <div id="u68" class="u68" >
            <DIV id="u68_line" class="u68_line" ></DIV>
        </div>
        <div id="u69" class="u69" >
            <DIV id="u69_line" class="u69_line" ></DIV>
        </div>
        <div id="u70" class="u70_container"   >
            <a href="#" id="u70_img" class="u70_normal detectCanvas"></a>
            <div id="u71" class="u71" style="visibility:hidden;"  >
                <div id="u71_rtf"></div>
            </div>
        </div>
        <div id="u72" class="u72_container"   >
            <a id="u72_img" class="u72_normal detectCanvas"></a>
            <div href="#" id="u73" class="u73" style="visibility:hidden;"  >
                <div id="u73_rtf"></div>
            </div>
        </div>
        <div id="u74" class="u74" >
            <DIV id="u74_line" class="u74_line" ></DIV>
        </div>
        <div id="u75" class="u75_container"   >
            <a href="#" id="u75_img" class="u75_normal detectCanvas"></a>
            <div id="u76" class="u76" style="visibility:hidden;"  >
                <div id="u76_rtf"></div>
            </div>
        </div>
        <div id="u77" class="u77_container"   >
            <a href="#" id="u77_img" class="u77_normal detectCanvas"></a>
            <div id="u78" class="u78" style="visibility:hidden;"  >
                <div id="u78_rtf"></div>
            </div>
        </div>

        <div class="team-sort">
            <ul class="team-items">
                <li class="team-title">
                    公益
                </li>
                <li>
                    <a href="#">关爱老人</a>
                </li>
                <li>
                    <a href="#">公益</a>
                </li>
                <li>
                    <a href="#">暴走</a>
                </li>
                <li>
                    <a href="#">无偿献血</a>
                </li>
                <li>
                    <a href="#">义务劳动</a>
                </li>
                <li>
                    <a href="#">查看更多</a>
                </li>
            </ul>
        </div>

        <div id="u86" class="u86_container"   >
            <div id="u86_img" class="u86_normal detectCanvas"></div>
            <div id="u87" class="u87" style="visibility:hidden;"  >
                <div id="u87_rtf"></div>
            </div>
        </div>
        <div id="u88" class="u88" >
            <DIV id="u88_line" class="u88_line" ></DIV>
        </div>
        <div id="u89" class="u89"  >
            <div id="u89_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">一个鸡蛋的梦想</span>
                </p>
            </div>
        </div>
        <div id="u90" class="u90_container"   >
            <div id="u90_img" class="u90_normal detectCanvas"></div>
            <div id="u91" class="u91" style="visibility:hidden;"  >
                <div id="u91_rtf"></div>
            </div>
        </div>
        <div id="u92" class="u92" >
            <DIV id="u92_line" class="u92_line" ></DIV>
        </div>
        <div id="u93" class="u93_container"   >
            <div id="u93_img" class="u93_normal detectCanvas"></div>
            <div id="u94" class="u94" style="visibility:hidden;"  >
                <div id="u94_rtf"></div>
            </div>
        </div>
        <div id="u95" class="u95_container"   >
            <div id="u95_img" class="u95_normal detectCanvas"></div>
            <div id="u96" class="u96" style="visibility:hidden;"  >
                <div id="u96_rtf"></div>
            </div>
        </div>
        <DIV id="u97" style="visibility:hidden;" data-label="鼠标hover">
            <DIV id="pd0u97" style="" data-label="鼠标hover">
                <div id="u98" class="u98_container"   >
                    <div id="u98_img" class="u98_normal detectCanvas"></div>
                    <div id="u99" class="u99" style="visibility:hidden;"  >
                        <div id="u99_rtf"></div>
                    </div>
                </div>
                <div id="u100" class="u100"  >
                    <div id="u100_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">创建时间</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">2012/11/5</span>
                        </p>
                    </div>
                </div>
                <div id="u101" class="u101"  >
                    <div id="u101_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">参与人数</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">：</span><span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">8 人</span>
                        </p>
                    </div>
                </div>
                <div id="u102" class="u102"  >
                    <div id="u102_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#FFFFFF;">任务：5 个</span>
                        </p>
                    </div>
                </div>
                <div id="u103" class="u103"  >
                    <div id="u103_rtf">
                        <p style="text-align:left;">
                            <span style="font-family:Applied Font;font-size:16px;font-weight:bold;font-style:normal;text-decoration:underline;color:#FFFFFF;">点击详情</span>
                        </p>
                    </div>
                </div>
            </DIV>
        </DIV>
        <div id="u104" class="u104_container"   >
            <div id="u104_img" class="u104_normal detectCanvas"></div>
            <div id="u105" class="u105" style="visibility:hidden;"  >
                <div id="u105_rtf"></div>
            </div>
        </div>
        <div id="u106" class="u106_container"   >
            <div id="u106_img" class="u106_normal detectCanvas"></div>
            <div id="u107" class="u107" style="visibility:hidden;"  >
                <div id="u107_rtf"></div>
            </div>
        </div>
        <div id="u108" class="u108"  >
            <div id="u108_rtf">
                <p style="text-align:left;">
                    <span style="font-family:Applied Font;font-size:14px;font-weight:normal;font-style:normal;text-decoration:none;color:#33CCFF;">黄小鑫</span>
                </p>
            </div>
        </div>
        <div id="u109" class="u109_container"   >
            <div id="u109_img" class="u109_normal detectCanvas"></div>
            <div id="u110" class="u110" style="visibility:hidden;"  >
                <div id="u110_rtf"></div>
            </div>
        </div>

    </body>
</html>
