<html>
<head>
    <title>Home</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="imagetoolbar" content="no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <%= stylesheet_link_tag    "application", :media => "all" %>
</head>
<body>

<%=yield%>
</body>
<script type="text/javascript" src='../sea-modules/seajs/1.3.0-dev/sea-debug.js'></script>
<script type="text/javascript">
    seajs.config({
        alias:{
            jquery:'1.8.2'
        },
        base:'../sea-modules/'
    })
    seajs.use('shuihuar/src/index')
</script>
</html>
